<!DOCTYPE html>
<html lang="en">
  <head>
    
    <link rel="stylesheet" href="css/about.css" />
    <title>Studyfy</title>
  </head>
  <body>
   

<div class="about-section">
  <h1>About Studyfy</h1>
  <p>This tool is intended to help with the study and retentaion of complex information using some of the fundamental logic from spatial repitition and active recall. To get full use out of this application try calendarizing your planned study sessions.  You define what 'complex' means so have at it and remember consistency is key!  Here are some additional resources to help understand spatial repitition and active recall:<br> Learning How to Learn: 
	  Powerful mental tools to help you master tough subjects by Deep Teaching Solutions - <a href='https://www.coursera.org/learn/learning-how-to-learn' style="color: whitesmoke">https://www.coursera.org/learn/learning-how-to-learn</a><br> How to study for exams - Evidence-based revision tips by 
	  Ali Abdaal - <a href='https://www.youtube.com/watch?v=ukLnPbIffxE' style="color: whitesmoke">https://www.youtube.com/watch?v=ukLnPbIffxE</a><br>
How to Study for Exams - Spaced Repetition by Ali Abdaal - <a href='https://www.youtube.com/watch?v=Z-zNHHpXoMM' style="color: whitesmoke">https://www.youtube.com/watch?v=Z-zNHHpXoMM</a>
  
</div class="lower-body">

<h2 style="text-align:center">Study Tools</h2>
<div class="row">
  <div class="column">
    <div class="card">
   
      <div class="container">
        <h2>Calendar</h2>
        <p class="title">Planning your day</p>
        <p>Planning a schedule is probably the best way to have a schedule
        that works for you.  This calendar is meant to help you find a good schedule.</p>
    
       <p><a href="calendars" class="button">Calendarize your studying</a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
     
      <div class="container">
        <h2>Text to Speech</h2>
        <p class="title">Audio Spatial Repitition Assistant</p>
        <p>Copy and past your copy and paste paragraphs or pages you want to 
  study, select a voice and listen to your text as you read it. Results vary on each browser. </p>
       
        <p><a href="/index" class="button">Start using Text Reader</a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
   
      <div class="container">
        <h2>Flashcards</h2>
        <p class="title">Visual Spatial Repitition Assistant</p>
        <p>Make and use digital flip cards to help better drill otherwise hard to memorize terms or scenarios.  This is good for test preparation
         and a good way to solidify knowledge.</p>
        
        <p><a href="flashcards" class="button">Start using Flashcards</a></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>